*{
    margin: 0;
    padding: 0;
}
.course-homepage{
    text-align: left;
    height: inherit;
    .course-name{
        color: black;
        text-align: left;
        margin-top: 020px;
        padding: 0;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        padding-top: 10px;
        font-family: 'Roboto Slab', serif;
    }
    .teachers-name{
        font-size: 18px;
        a{
            font-weight: 400;
        }
    }
    .date{
        
        p{
            display: inline-block;
            padding-right: 30px;
            i{
                padding-right: 5px;
            }
        }
    }

    .faq-item{
        margin: 0;
        padding-bottom: 30px;
        h2{
            font-size: 25px;
            margin-top: 20px;
        }
        p{
            span{
                font-family: 'Kaushan Script', cursive;
            }
        }
    }


    .course-page-right-side{
        background: white;
        margin-top: 30px;
        border-radius: 4px;
        width: 100%;
        // margin-left: 90px;
        iframe{
            width: 430px;
            height: 220px;
            margin-top: 10px;
            margin-left: 2.5%;
            border-radius: 4px;
            
        }
        .prise{
            margin-top: -10px;
            .taka{
                font-family: 'Ubuntu', sans-serif;
                padding-left: 30px;
                del{
                    padding-right: 10px;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .doller{
                padding-right: 30px;
                font-family: 'Ubuntu', sans-serif;
                del{
                    padding-right: 10px;
                    font-weight: 400;
                    font-size: 16px;
                }
            
            }
        }
        
        h5{
            text-align: left;
            margin-left: 50px;
            padding: 3px 0;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
            
            span{
               padding-right: 15px; 
            }
        }

        .course-btn{
            .start-btn1{
                background-color: #1B5E20;
                color: white;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                border-radius: 4px;
                margin: 20px 0 20px 30px;
                display: inline-block;
            }  
            
            .start-btn2{
                background-color: #1B5E20;
                color: white;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                border-radius: 4px;
                margin: 20px 30px 20px 0px;
                display: inline-block;
                span{
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }

        
    }
}