h1{
    text-align: center;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 50px;
        margin-bottom: 10px;
        cursor: pointer;
        
}
.s-stayle{
    width: 280px;
    height: 8px;
    background: #1B5E20;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.slider{
    padding-bottom: 30px;
    img{
        width: 150px;
    }
}